<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GEME prototype</title>
  <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 
<body>
  
  <h1>GEME</h1>
  <h2>Search for correlations</h2>
  <br>
  <hr>
  <br>
  <h2>  I would like to explore variation in: <h2>



	<form method="link" action="timedataindex.html">
	  	<div class="input-group">
		  <input type="submit" class="primary" value="Time" >
	   	</div>
	</form> 
	<form method="link" action="spacedataindex.html">
	  	<div class="input-group">
		  <input type="submit" class="primary" value="Space" >
	   	</div>
	</form>     

</body>
</html>