<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DataGenie Time Analysis</title>
  <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 
<body>
  
	<header class="sticky">
		<a href="homepage.html" class="logo">DataGenie</a>
	</header>

    
	<form action="/submit" method="GET">
		<fieldset>
			<legend>Finance</legend>
			<div class="input-group">
	  			<input type="radio" id="rad1" tabindex="0" name="dataset" value="monthly-closings-of-the-dowjones">
	  			<label for="rad1">Monthly closings of the Dow Jones</label>
			</div>
		</fieldset>	

		<!--All transport data-->

		<fieldset>
			<legend>Transport</legend>
			<div class="input-group">
	  			<input type="radio" id="rad2" tabindex="0" name="dataset" value = "international-airline-passengers.csv">
	  			<label for="rad2">International Airline Passengers</label>
			</div>

			<br>

			<div class="input-group">
	  			<input type="radio" id="rad3" tabindex="0" name="dataset" value = "monthly-hotel-occupied-room-av-6.csv">
	  			<label for="rad3">Hotel Occupied Rooms</label>
			</div>

			<br>

			<div class="input-group">
	  			<input type="radio" id="rad3" tabindex="0" name="dataset" value = "monthly-traffic-fatalities-in-on.csv">
	  			<label for="rad2">Traffic fatalities in Ontario</label>
			</div>

			<br>

			<div class="input-group">
	  			<input type="radio" id="rad4" tabindex="0" name="dataset" value = "monthly-hotel-occupied-room-av-6.csv">
	  			<label for="rad4">Hotel Occupied Rooms</label>
			</div>

			<br>

			<div class="input-group">
	  			<input type="radio" id="rad5" tabindex="0" name="dataset" value = "monthly-us-air-passenger-miles-j.csv">
	  			<label for="rad5">US air passenger miles</label>
			</div>

			<br>

			<div class="input-group">
	  			<input type="radio" id="rad6" tabindex="0" name="dataset" value = "monthly-us-auto-registration-tho">
	  			<label for="rad6">US auto registration</label>
			</div>

			<br>

			<div class="input-group">
	  			<input type="radio" id="rad7" tabindex="0" name="dataset" value = "passenger-miles-mil-flown-domest">
	  			<label for="rad7">Domestic passenger miles flown</label>
			</div>

			<br>

			<div class="input-group">
	  			<input type="radio" id="rad8" tabindex="0" name="dataset" value = "portland-oregon-average-monthly-">
	  			<label for="rad8">Portland, Oregon Average Monthly</label>
			</div>

			<br>

			<div class="input-group">
	  			<input type="radio" id="rad9" tabindex="0" name="dataset" value = "us-airlines-monthly-aircraft-mil">
	  			<label for="rad9">US airlines monthly aircraft</label>
			</div>

			<br>

			<div class="input-group">
	  			<input type="radio" id="rad10" tabindex="0" name="dataset" value = "weekday-bus-ridership-iowa-city-">
	  			<label for="rad10">Weekday Bus Ridership in Iowa City</label>
			</div>

		</fieldset>	
	  	<div class="input-group">
		  <input type="submit" class="primary" value="Compare" >
	   	</div>


	</form>    

</body>
</html>
